:root{
    --heading-font-family: 'Playfair Display',
        serif;
    --default-font-family: 'EB Garamond',
        serif;
    --primary-color: #cd9fab;
    --secondary-color: #c86b85;
} 

.logo{
    max-width:100px;
}

nav ul{
    padding: 0;
    margin: 0;
}
nav li{
    display: inline;
    list-style: none;
    padding: 10px;
    line-height: 85px;    
}

nav li a{
    text-decoration: none;
    color: #272142;
    font-size: 16px;
}
nav a:hover , li.active a{
    color: var(--secondary-color);
    transition: all 100ms ease-in-out;
   
}

body{
    font-family: var(--default-font-family);
}
h2{
    font-size: 50px;
    font-weight: bold;
    font-family: var(--heading-font-family);
}
p{
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

h3{
    font-size: 48px;
}

.hero .cv-header p{
    font-size: 36px;
    font-weight: bold;
    
}

.hero h1{
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
    line-height: 1.5;
}
.hero h2{
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}

.pre-title{
    font-size: 28px;
}

.content-container {
    padding: 50px 20px; ;
}

.content-container h1{
    font-size: 64px;
    line-height: 80px;
}

.content-container h2{
    font-size: 18px;
    font-family: var(--default-font-family);
}

.content-container  p{
    font-size: 16px;
}

.content{
    margin: 30px;
}

.title{
    text-align: center;    
    border-radius: 10px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.contact-details{
    text-align: center;
}

.contact-details a{
    text-decoration: none;
    color: #7B7793;
    font-size: 24px;
}
.contact-details a:hover {
    text-decoration: underline;
    color: var(--secondary-color);
}

.btn-branding{
    padding: 20px 35px;
    background: var(--primary-color);
    line-height: 27px;
    font-size: 20px;
    font-weight: 500;
    border: var(--primary-color) solid 1px;
    border-radius: 4px; 
    text-shadow: none;  
}
.btn-branding:hover{
    background: #e0bbbe;
    border: #e0bbbe solid 1px;
    transition: all 200ms ease-in-out;
}


.btn-branding-secondary{
    background: #c86b85;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    border-radius: 4px;
    padding: 15px 30px;
    line-height: 27px;
}

.btn-branding-secondary:hover{
    background: #fff;
    color: #c86b85;
    border: #c86b85 solid 1px;
    transition: all 200ms ease-in-out;
    
}
.project-description{
    padding:100px 60px ;
}
.project-description .solid{
    display: none;
}
img , #about-me-image{
    height: auto;
    width: 100%;
}
footer .contact-box{
    background-color:RGBA(211, 162, 204, 0.25);
    padding: 25px 120px;
    border-radius: 10px;
}

footer .contact-box p{
    margin: 0;
}

footer .email-link{
    text-decoration: none;
    color: #7B7793;
    font-size: 22px;
}
footer .email-link:hover{
    color: var(--secondary-color);
    text-decoration: underline;
    margin-top: 0;
}
footer .social-links a{
    margin-right: 22px;
    color: #c86b85;
    background-color: #f9f8fa;
    padding: 10px 15px;
    border-radius: 50%;
    transition: all 100ms ease-in-out;
}

footer .social-links a:hover{
    background-color: #c86b85;
    color: #f9f8fa;
    
}

.portfolio-link{
    text-decoration: none;
    color: #b86a80;
    transition: all 100ms ease-in-out;
}

.portfolio-link:hover{
    text-decoration: underline;
}

.portfolio-link:visited{
    text-decoration: none;
    color: #b86a80;
}

/*for CV page*/
.video-wrapper{
    padding: 100px 375px;
    margin: 0;
    margin-top: 10px;
    text-align: center;
    
    position: relative;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150%;
    width: 100%;
    }
.header{
    position: relative;
        color: white;
        text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.6);
}

video{
    object-fit: cover;
    position: absolute;
    height: 100%;
    width:100% ;
}


.cv-header h1 {
    font-family: var(--heading-font-family);
    font-weight: bold;
    font-size: 96px;
    line-height: 1.5;
}

.cv-header h2 {
    font-weight: normal;
    font-size: 24px;
    line-height: 2;
}

.cv-button {
    background: #efd1d8;
    text-shadow: none;
}


@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 51%
    }

    100% {
        background-position: 0% 50%
    }
}



@media (max-width:950px){
   nav a{
        font-size: 14px;
    }
    
    .video-wrapper{
    padding: 80px 20px;
   }
    .hero h1{
    font-size: 50px;
   }
    .hero p{
    font-size: 22px;
   }

   .cv-header{
    
    text-align: center;
   }

   .cv-header h1{
    font-size: 50px;
   }

   .cv-header p {
    font-size: 22px;
   }

   h2{
    font-size: 44px;
   }

   h3{
    font-size: 26px;
   }

   .project-description{
    padding: 30px 30px;
   }
   
   .project-description .solid {
    display: block;
    }

    .pre-title{
        font-size: 22px;
    }

    .content-container{
        text-align: center;
        padding: 0;
    }
    
    footer .contact-box {
    padding: 25px;
    }

    footer #contact-me-button{
        padding:20px;
    }
}